.box-right-shadow {
    -webkit-box-shadow: 3px 0px 7px -2px rgba(212, 208, 212, 1);
    -moz-box-shadow: 3px 0px 7px -2px rgba(212, 208, 212, 1);
    box-shadow: 3px 0px 7px -2px rgba(212, 208, 212, 1);
}